.git
.github
.nagios-lab
.DS_Store
**/.DS_Store
autom4te.cache
config.log
config.status
coverage-report
Documentation
nbproject
**/.deps
**/.libs
**/*.a
**/*.gcda
**/*.gcno
**/*.gcov
**/*.la
**/*.lo
**/*.o
**/*.so
core.*
gmon.out
nagioscore.info-file
pkg
